* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", serif;
}
.container {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #4b4b4b, #93c5e0, #0155a9e7, #192025);
    background-size: 300% 300%;
    animation: color 18s ease-in-out infinite;
}
@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
a {
    text-decoration: none;
    color: black;
}
/* header */
header {
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.7em;
    font-size: 3.5vw;
    font-weight: 400;
}
header nav {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
}
nav .nav-elems {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}
nav span {
    height: 100%;
    position: relative;
    padding: 0 0.7em;
    cursor: pointer;
    font-size: 2.5vw;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .element::before {
    position: absolute;
    content: " ";
    height: 2px;
    width: 80%;
    left: 0.4em;
    bottom: 1rem;
    border-radius: 50%;
    transform: scaleX(0);
    transition: transform 0.3s linear;
    background: black;
}
nav .element:hover:before {
    transform: scaleX(1);
}
nav #menu-bar {
    display: none;
}
.menu {
    position: absolute;
    width: 35vw;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(18px);
    border: 1px solid white;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-size: 2vw;
    font-weight: 250;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    z-index: 1;
    top: 95%;
}
.healthMenu:hover #health {
    display: flex;
}
.financeMenu:hover #finance {
    display: flex;
}
.travelMenu:hover #travel {
    display: flex;
}
.menu a {
    width: 100%;
    height: 3rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.menu a:hover {
    font-weight: 500;
    color: black;
}
#health {
    display: none;
}
#finance {
    display: none;
}
#travel {
    display: none;
}
/* main */
main {
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
main .btn-scroll {
    height: 20%;
    width: 7%;
    background: transparent;
    border: none;
    font-size: 3vw;
    transition: .1s;
}
.btn-scroll:active {
    color: white;
}
main .scroll-container {
    height: 100%;
    width: 90%;
    padding: 1px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.scroll-container::-webkit-scrollbar {
    display: none;
}
.scroll-container .card {
    width: 1555%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card section {
    scroll-snap-align: center;
    margin: 0 2rem;
    height: 100%;
    width: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    color: white;
}
/* start basic calculator */
.frame {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.display {
    height: 20%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display input {
    background-color: transparent;
    height: 75%;
    width: 95%;
    border-radius: 15px;
    border: none;
    font-size: 3vw;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.224);
    color: white;
    font-weight: 100;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5);
    text-align: right;
}
.buttons {
    height: 16%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.buttons .button {
    background-color: white;
    height: 120%;
    width: 15%;
    border: none;
    border-radius: 50%;
    font-size: 2vw;
    font-weight: 100;
    box-shadow: 2px 2px 4px black;
    transform: scale(1);
    transition: 0.2s;
}
.button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.button:active {
    transform: scale(0.99);
    box-shadow: inset 0.5px 0.5px 3px black;
}
/* end basic calculator */

/* common card css start */
section .details {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    padding: 1rem;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
}
.details .description {
    margin-top: 1rem;
    min-height: 5rem;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.description h1 {
    font-size: 3vw;
    font-weight: 400;
    text-align: center;
}
.description i {
    font-size: 1.2vw;
    font-weight: 200;
    text-align: center;
}
.details .input {
    height: 9%;
    width: 32.5%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.input input {
    position: relative;
    color: white;
    width: 50rem;
    font-size: 2vw;
    text-align: center;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}
.input input::placeholder {
    position: absolute;
    padding: 0rem 0;
    margin: 0 25%;
    text-align: center;
    font-size: 1.7vw;
    font-weight: 50;
    color: white;
}
.input select {
    background-color: transparent;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    color: white;
    border: none;
    outline: none;
}
.details .result {
    background-color: white;
    color: black;
    height: 10%;
    width: 30%;
    outline: 2px solid white;
    border: none;
    font-size: 1.5vw;
    border-radius: 2rem;
    transition: .3s;
    cursor: pointer;
}
.result:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.result:active {
    scale: 0.95;
}
.details .output {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 1.3rem;
}
.output i {
    font-size: 1.2vw;
    text-align: center;
}

.output p {
    font-size: 0.7vw;
}
/* common card css end */

footer {
    height: 8%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    font-weight: 300;
    transition: background-color 0.5s ease;
}
@media (max-width: 768px) {
    .container {
        height: 100vh;
    }
    header {
        height: 10%;
    }
    header .logo {
        font-size: 4vw;
    }
    nav span {
        font-size: 3.3vw;
    }
    .menu {
        margin-right: 2rem;
        width: 21rem;
        font-weight: 200;
        font-size: 3vw;
        padding: 1rem 0 2rem 0;
        top: 95%;
    }
    main {
        height: 82%;
        justify-content: center;
        padding: 0 0rem;
    }
    main .btn-scroll {
        display: none;
    }
    main .scroll-container {
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }
    .scroll-container .card {
        width: 100%;
        height: 1555%;
        flex-direction: column;
        justify-content: center;
    }
    .card section {
        width: 100%;
        flex-direction: column;
    }
    section .details {
        width: 80%;
    }
    .details .description {
        margin-top: 0.5rem;
        min-height: 6rem;
    }
    .description h1 {
        font-size: 4vw;
        font-weight: 350;
    }
    .description i {
        font-size: 2vw;
    }
    .details .input {
        width: 50%;
    }
    .input input {
        font-size: 2.5vw;
    }
    .input input::placeholder {
        padding: 0rem 0;
        font-size: 2.3vw;
        margin: 0 25%;
    }
    .input select {
        font-size: 2.3vw;
    }
    .details .result {
        width: 45%;
        margin: 0.5rem 0;
        font-size: 2.3vw;
    }
    .output h3 {
        font-size: 1rem;
        font-weight: 600;
    }
    .output i {
        font-size: 1.5vw;
    }
    .output p {
        font-size: 1.5vw;
    }
    footer {
        font-size: 1.3vw;
    }
    .display input {
        font-size: 4vw;
    }
    .buttons .button {
        font-size: 3vw;
    }
}
@media (max-width: 480px) {
    .container {
        height: 100vh;
        position: relative;
    }
    nav #menu-bar {
        width: 30%;
        padding: 0 1em;
        cursor: pointer;
        font-size: 8vw;
        display: flex;
    }
    nav .nav-elems {
        display: none;
    }
    header {
        height: 10%;
    }
    .menu {
        height: 80vh;
        width: 65vw;
        font-size: 4vw;
        right: -2rem;
        font-weight: 300;
        padding: 0.5rem;
        display: none;
    }
    .menulist:hover #list {
        display: flex;
    }
    main {
        height: 85%;
    }
    header .logo {
        font-size: 8vw;
    }
    nav span {
        font-size: 6vw;
    }
    section .details {
        width: 100%;
        margin: 0 5rem;
    }
    .details .description {
        margin-top: 0.5rem;
        min-height: 6rem;
    }
    .description h1 {
        font-size: 8vw;
        font-weight: 350;
    }
    .description i {
        font-size: 3.5vw;
    }
    .details .input {
        width: 60%;
    }
    .input input {
        font-size: 5vw;
    }
    .input input::placeholder {
        font-size: 4vw;
        margin: 0 28%;
    }
    .input select {
        font-size: 4vw;
    }
    .details .result {
        width: 50%;
        font-size: 4vw;
    }
    .output i {
        font-size: 3.5vw;
    }
    .output p {
        font-size: 2.5vw;
    }
    footer {
        height: 5%;
        font-size: 2vw;
    }
    .display input {
        font-size: 7vw;
    }
    .buttons .button {
        font-size: 5vw;

    }
}